.main-task-content {
    display: flex;
    flex-direction: column;
    position: relative;
}
.buttons-block {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.buttons-block-left {
    display: flex;
}
.buttons-block-left .back-button {
    margin-right: 10px;
}
.task-block {
    width: 100%;
    padding: 20px;
    margin: 20px 0;
    background-color: #fff;
    border: 2px solid #f0f0f0;
    border-radius: 3px;
    overflow: hidden;
}
.task-block__title,
.task-block__date-creation,
.task-block__priority,
.task-block__marks,
.task-block__description {
    font-size: 18px;
    font-weight: 500;
    margin: 20px 0 40px;
}

@media (max-width: 410px) {
    .buttons-block__back {
        position: absolute;
        top: 0;
        left: 0;
    }
    .buttons-block__edit {
        position: absolute;
        top: calc(3em + 5px);
        width: 80%;
    }
    .buttons-block__delete {
        position: absolute;
        top: 0;
        left: calc(5em + 5px);
    }
    .main-task-content {
        padding-top: 6em;
    }
}