.task-card {
    width: 100%;
    min-height: 10em;

    padding: 20px;
    margin-bottom: 20px;

    cursor: pointer;

    background-color: #fff;
    border: 2px solid #f0f0f0;
    border-radius: 3px;

    color: #000;
}
.task-card__title {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 500;
    transition: color 160ms ease-in-out;
}
.task-card__creation-date,
.task-card__priority,
.task-card__marks {

}
.task-card__creation-date {
    margin-bottom: 10px;
}
.task-card__priority {
    margin-bottom: 10px;
}
.task-card__marks {
}
.task-card:hover .task-card__title {
    color: #0091DC;
}